*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: grey;
}


header{
    background-color: #080b12;
    width: 100%;
    height: 50px;
    position: fixed;
}

div[class="logo"]{
    width: 140px;
    height: 100%;
    background-color: black;
}
img[alt="logo"]{
    width: 130px;
    height: auto;
    position: relative;
    top: 8px;
}

div[class="btn-right"]{
    width: 200px;
    height: 30px;
    margin-top: 2px;
    padding: 2px ;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    top: -45px;
    left: 83%;
}

div[class="btn-right"] a{
    color: white;
    text-decoration: none;
    font-size: small;
}

main{
    background-color: #141922;
}

div[class="recently-song"]{
    width: 150px;
    height: ;
    padding: 50px;
    display: inline-block;
    text-align: center;
}
img[alt="heavy-metal"]{
    width: 150px;
    height: auto;
}

.top-nav ul li{
    margin-top: 60px;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 30%;
}
.top-nav a{
    text-decoration: none;
    color: grey;
}

aside{
    background-color: black;
}

footer{
    background-color: #141922;
}